body {
    background-color: #EFEFEF;
}

body > .grid {
    height: 100%;
}

.tight.column {
    max-width: 450px;
}

.tight.column .field {
    max-width: 450px;
}

.exception.column {
    max-width: 720px;
}

.stack-trace {
    color: #D24E3D;
    max-height: 300px;
    background-color: #FAFAFA;
    border: #EFEFEF solid 1px;
    padding: 5px;
}

/* Mobile */

@media only screen and (max-width: 480px) {
    .tight.column {
        max-width: 350px;
    }

    .tight.column .field {
        max-width: 180px;
    }
}